.boxfe{
    /* border: 1px solid red; */
    width: 100%;
    margin: auto;
    color: white;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.feat{
    /* border: 1px solid red; */
    width: 18%;
    text-align: start;
    
}
.feat h1{
    /* font-family: 'neue-haas-grotesk-display', 'sans-serif'; */
    font-family: 'Geologica', sans-serif;

    font-weight: 700;
    font-style: normal;
    font-size: 88px;
    line-height: 64px;
    color: #FFFFFF;
    line-height: 5px;
}
.feat .ai{
    font-family: 'neue-haas-grotesk-display', 'sans-serif';
    font-weight: 100;
    font-style: normal;
    font-size: 88px;
    line-height: 64px;
    color: #FFFFFF;
}
.feat .cred-ai {
    line-height: 1px; /* Adjust the line height as needed */
  }
  
  .feat .exclusive {
    line-height: 1.5px; /* Adjust the line height as needed */
  }
  
  .feat .features {
    line-height: 1; /* Adjust the line height as needed */
  }
  
.scrool{
    /* border: 1px solid red; */
    width: 60%;
}