.box1{
    /* border: 1px solid red; */
    width: 90%;
    height: auto;
    margin: auto;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20;
}


.via{
    font-weight: bold;
}
img{
    cursor: pointer;
}
.box3{
    margin-top: 4%;
    margin-left: 4%;
}
