/* Base styles for laptop screens */
.news {
    background-color: black;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .news div p {
    color: gray;
    margin-top: 5px;
  }
  
  .news div img {
    margin-top: 10px;
  }
  
  /* Media query for mobile screens */
  @media screen and (max-width: 768px) {
    .news {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .news div {
      text-align: center;
      margin: 20px 0;
    }
  }
  